@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}


#logo {
  float: left;
  font-size: 1.7em;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
 

.navbar-brand {
  font-size: 3rem;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.logout-button {
  margin-right: 0.5rem;
  
}

.user-name {
  margin-top: 5%;
  padding-right: 20px;
  color: white !important;
  
}